<section id="login-signup">
  <header>
      <h2>Log In</h2>
  </header>
  <main>
    <section id="log-in">
      <h4>Returning users log in here:</h4>
      <label for="email">Email</label>
      <br>
      <input name="email" type="text" id="login-email">
      <br>
      <label for="password">Password</label><br>
      <input name="password" type="password" id="login-password">
      <br>
      <button id="login-submit">Log in</button>
    </section>
    <section id="sign-up">
      <h4>New to Rich's Tech Blog? Sign up here:</h4>
      <label for="name">Name</label>
      <br>
      <input name="name" type="text" id="signup-name">
      <br>
      <label for="email">Email</label>
      <br>
      <input name="email" type="text" id="signup-email">
      <br>
      <label for="password">Password</label><br>
      <input name="password" type="password" id="signup-password">
      <br>
      <button id="signup-submit">Sign up</button>
  </section>

  </main>
</section>

<script src="/js/login-signup.js"></script>