<section id="new-post-form">
  <header>
    <h2>New Post</h2>
  </header>
  <main>
    <h2>Title:</h2>
    <input name="title" type="text" id="post-title">
    <br>
    <textarea id="post-contents"></textarea>
    <br>
    <button class="submit">Submit</button>

  </main>
</section>

<script src="/js/submit-post.js"></script>